In [9]:
%%time 
import numpy as np 
import pandas as pd 
import scipy
import matplotlib
import matplotlib.pyplot as plt

from sklearn.cluster import DBSCAN 
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import normalize 
from sklearn.decomposition import PCA 
from sklearn import metrics 
from sklearn.metrics import silhouette_score, homogeneity_completeness_v_measure
from sklearn.metrics.pairwise import euclidean_distances
from hdbscan import HDBSCAN
from scipy.stats import spearmanr 

import warnings 
warnings.simplefilter("ignore")

CPU times: user 281 µs, sys: 989 µs, total: 1.27 ms
Wall time: 2.06 ms

In [10]:
df = pd.read_pickle('picklefinal/postFAMD.pkl')

In [11]:
df.shape

(1468101, 10)

In [4]:
df = df.drop(columns = [8,9])

In [5]:
df.head()

,0,1,2,3,4,5,6,7
UniqueID,,,,,,,,
00000f7264c27ba6fea0c837ed6aa0aa,2738.866104,-1283.474094,-937.754525,2742.902283,-569.733342,-1439.002363,926.613108,817.699409
00001e984eba85527fd3122056451279,3489.873372,-582.133160,-1559.529845,-1089.873401,138.202214,-269.501375,-86.504720,863.355542
0000219e4b37d2504fb6b8c28e24a2d4,2937.887853,1631.360292,126.488715,867.030033,-3073.741307,-759.911687,-866.664264,552.896295
000026c67a83fa72aec14512887bb173,2920.606795,-1378.205303,2014.482509,-663.424336,122.193676,-1189.100587,1762.811919,1095.543238
000028899fe7782862d40bb1b87807ee,3092.454470,-380.875608,-169.559082,425.601597,3208.156099,-714.994510,-525.517818,-361.401155

In [5]:
### NORMALIZE DATA 
newdf = df[['Freq', 'Age']]
newdf

from sklearn import preprocessing

x = newdf.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
newdf = pd.DataFrame(x_scaled)
newdf.head()

newdf.columns = ['Freq','Age']

df = df.drop(columns = ['Freq','Age'])

df['Age'] = newdf['Age'].values
df['Freq'] = newdf['Freq'].values

In [7]:
list_of_names = list(df.columns)

In [8]:
df.columns = list_of_names

In [9]:
df.head()

,Freq,Age,Large_Hospital,Medium_Hospital,Payer_Out_of_Pocket,Payer_Special_Program,Payer_State,region_Porto,region_Santarem,region_Viseu,General_Service_Emergency,General_Service_Examination,General_Service_Others,General_Service_Surgery,General_Service_Treatment,Sex_Masculino,Sex_Missing
0,-0.279657,0.297376,0.171623,-0.555808,-0.493714,-0.189121,-0.538143,1.852339,-0.221605,-0.164676,0.563824,0.583638,-0.134845,-0.336768,-0.384018,1.116113,-0.055554
1,0.023680,1.016946,1.036258,-0.555808,-0.493714,-0.189121,-0.028397,-0.543157,-0.221605,-0.164676,-0.436760,0.898848,-0.134845,-0.336768,-0.384018,-0.895966,-0.055554
2,-0.507160,-1.343594,-1.125331,-0.555808,-0.493714,-0.189121,-0.538143,1.852339,-0.221605,-0.164676,-0.436760,0.268427,-0.134845,-0.336768,-0.384018,-0.895966,-0.055554
3,-0.431325,-0.158936,-1.125331,1.974664,-0.493714,-0.189121,-0.538143,-0.543157,-0.221605,-0.164676,-0.436760,1.056454,-0.134845,1.815089,-0.384018,1.116113,-0.055554
4,-0.431325,-1.277779,1.036258,-0.555808,-0.493714,-0.189121,0.736222,-0.543157,-0.221605,-0.164676,4.566161,-1.307628,-0.134845,-0.336768,-0.384018,1.116113,-0.055554

In [10]:
### drop some columns so we can have a smaller dataframe 

df = df.drop(columns = ["Large_Hospital","Medium_Hospital","Freq"])

### KNN to find epsilon

In [ ]:
%%time 
neigh = NearestNeighbors(n_neighbors=14)
nbrs = neigh.fit(df)  
distances, indices = nbrs.kneighbors(df)

In [ ]:
distances = np.sort(distances, axis=0)
distances = distances[:,1]
plt.plot(distances)
plt.xlim(600000,800000)

In [6]:
#function for plotting nearest neighbors graph 
import numpy as np
import pandas as pd
import math

def k_distances(X, n=None, dist_func=None):
    """Function to return array of k_distances.

    X - DataFrame matrix with observations
    n - number of neighbors that are included in returned distances (default number of attributes + 1)
    dist_func - function to count distance between observations in X (default euclidean function)
    """
    if type(X) is pd.DataFrame:
        X = X.values
    k=0
    if n == None:
        k=X.shape[1]+2
    else:
        k=n+1

    if dist_func == None:
        # euclidean distance square root of sum of squares of differences between attributes
        dist_func = lambda x, y: math.sqrt(
            np.sum(
                np.power(x-y, np.repeat(2,x.size))
            )
        )

    Distances = pd.DataFrame({
        "i": [i//10 for i in range(0, len(X)*len(X))],
        "j": [i%10 for i in range(0, len(X)*len(X))],
        "d": [dist_func(x,y) for x in X for y in X]
    })
    return np.sort([g[1].iloc[k].d for g in iter(Distances.groupby(by="i"))])

In [ ]:
#plot nearest neighbors graph 
import matplotlib.pyplot as plt

d = k_distances(scaled_ds,51,spearmanr(scaled_ds))
plt.plot(d)
plt.ylabel("k-distances")
plt.grid(True) 
plt.show()

### DBSCAN

In [27]:
# setting up DBSCAN   
db = DBSCAN(eps = 20, min_samples = 15).fit(df)
#fitting model 
model = db.fit(df)

In [28]:
#retrieve labels 
dblabels = model.labels_

In [29]:
#number of labels 
np.unique(dblabels).shape

(10178,)

In [30]:
unique, counts = np.unique(dblabels, return_counts=True)
dict(zip(unique, counts))

{-1: 108985,
 0: 697,
 1: 22,
 2: 358,
 3: 282,
 4: 875,
 5: 298,
 6: 3731,
 7: 840,
 8: 522,
 9: 997,
 10: 151,
 11: 39,
 12: 629,
 13: 35,
 14: 825,
 15: 96,
 16: 914,
 17: 861,
 18: 767,
 19: 1645,
 20: 119,
 21: 2553,
 22: 929,
 23: 823,
 24: 288,
 25: 446,
 26: 1956,
 27: 2053,
 28: 1792,
 29: 310,
 30: 2296,
 31: 486,
 32: 16,
 33: 191,
 34: 485,
 35: 756,
 36: 160,
 37: 169,
 38: 1334,
 39: 203,
 40: 1100,
 41: 717,
 42: 551,
 43: 97,
 44: 179,
 45: 313,
 46: 227,
 47: 28,
 48: 366,
 49: 19,
 50: 47,
 51: 132,
 52: 1099,
 53: 522,
 54: 751,
 55: 393,
 56: 968,
 57: 2483,
 58: 1307,
 59: 138,
 60: 139,
 61: 1781,
 62: 202,
 63: 236,
 64: 319,
 65: 16,
 66: 1786,
 67: 614,
 68: 173,
 69: 43,
 70: 111,
 71: 187,
 72: 1183,
 73: 2776,
 74: 1028,
 75: 81,
 76: 321,
 77: 169,
 78: 690,
 79: 315,
 80: 463,
 81: 3406,
 82: 152,
 83: 899,
 84: 131,
 85: 1706,
 86: 44,
 87: 62,
 88: 206,
 89: 1538,
 90: 51,
 91: 125,
 92: 196,
 93: 246,
 94: 1194,
 95: 209,
 96: 99,
 97: 104,
 98: 17,
 99: 1031,
 100: 28,
 101: 1235,
 102: 229,
 103: 37,
 104: 30,
 105: 515,
 106: 486,
 107: 980,
 108: 57,
 109: 243,
 110: 1808,
 111: 61,
 112: 89,
 113: 331,
 114: 1422,
 115: 475,
 116: 191,
 117: 2302,
 118: 171,
 119: 79,
 120: 575,
 121: 201,
 122: 72,
 123: 46,
 124: 392,
 125: 311,
 126: 2704,
 127: 238,
 128: 45,
 129: 6872,
 130: 216,
 131: 167,
 132: 151,
 133: 216,
 134: 41,
 135: 793,
 136: 164,
 137: 594,
 138: 83,
 139: 200,
 140: 248,
 141: 246,
 142: 32,
 143: 122,
 144: 260,
 145: 2064,
 146: 539,
 147: 94,
 148: 167,
 149: 209,
 150: 38,
 151: 408,
 152: 464,
 153: 88,
 154: 65,
 155: 702,
 156: 1512,
 157: 330,
 158: 121,
 159: 26,
 160: 1119,
 161: 78,
 162: 1991,
 163: 1501,
 164: 20,
 165: 419,
 166: 588,
 167: 3116,
 168: 749,
 169: 123,
 170: 76,
 171: 440,
 172: 30,
 173: 50,
 174: 1531,
 175: 253,
 176: 1964,
 177: 72,
 178: 126,
 179: 2857,
 180: 144,
 181: 214,
 182: 34,
 183: 889,
 184: 296,
 185: 274,
 186: 74,
 187: 395,
 188: 1669,
 189: 517,
 190: 2456,
 191: 244,
 192: 278,
 193: 509,
 194: 52,
 195: 204,
 196: 344,
 197: 67,
 198: 294,
 199: 38,
 200: 1749,
 201: 390,
 202: 178,
 203: 461,
 204: 147,
 205: 921,
 206: 453,
 207: 408,
 208: 1361,
 209: 129,
 210: 103,
 211: 401,
 212: 899,
 213: 1257,
 214: 154,
 215: 72,
 216: 177,
 217: 1640,
 218: 65,
 219: 1317,
 220: 171,
 221: 183,
 222: 394,
 223: 1691,
 224: 5003,
 225: 496,
 226: 1104,
 227: 586,
 228: 741,
 229: 184,
 230: 285,
 231: 155,
 232: 457,
 233: 200,
 234: 117,
 235: 756,
 236: 46,
 237: 681,
 238: 403,
 239: 347,
 240: 1032,
 241: 188,
 242: 415,
 243: 22,
 244: 198,
 245: 1938,
 246: 894,
 247: 87,
 248: 570,
 249: 2363,
 250: 1021,
 251: 409,
 252: 972,
 253: 272,
 254: 822,
 255: 636,
 256: 880,
 257: 438,
 258: 2879,
 259: 508,
 260: 17,
 261: 123,
 262: 20,
 263: 7217,
 264: 1289,
 265: 67,
 266: 1037,
 267: 83,
 268: 342,
 269: 54,
 270: 417,
 271: 1003,
 272: 157,
 273: 1825,
 274: 1170,
 275: 1046,
 276: 1065,
 277: 347,
 278: 359,
 279: 50,
 280: 851,
 281: 346,
 282: 38,
 283: 27,
 284: 365,
 285: 1671,
 286: 1203,
 287: 149,
 288: 211,
 289: 445,
 290: 689,
 291: 2051,
 292: 644,
 293: 134,
 294: 2486,
 295: 55,
 296: 205,
 297: 20,
 298: 27,
 299: 137,
 300: 397,
 301: 4432,
 302: 3011,
 303: 1533,
 304: 768,
 305: 1104,
 306: 1338,
 307: 304,
 308: 4482,
 309: 160,
 310: 42,
 311: 1473,
 312: 116,
 313: 1879,
 314: 189,
 315: 1071,
 316: 540,
 317: 164,
 318: 589,
 319: 1096,
 320: 359,
 321: 66,
 322: 322,
 323: 189,
 324: 81,
 325: 61,
 326: 43,
 327: 278,
 328: 193,
 329: 70,
 330: 1957,
 331: 144,
 332: 85,
 333: 82,
 334: 584,
 335: 95,
 336: 379,
 337: 221,
 338: 196,
 339: 26,
 340: 1431,
 341: 104,
 342: 467,
 343: 88,
 344: 642,
 345: 559,
 346: 227,
 347: 171,
 348: 35,
 349: 402,
 350: 1158,
 351: 204,
 352: 32,
 353: 288,
 354: 323,
 355: 1082,
 356: 722,
 357: 237,
 358: 67,
 359: 666,
 360: 20,
 361: 113,
 362: 1081,
 363: 141,
 364: 613,
 365: 96,
 366: 254,
 367: 738,
 368: 116,
 369: 415,
 370: 415,
 371: 264,
 372: 606,
 373: 767,
 374: 304,
 375: 213,
 376: 42,
 377: 17,
 378: 1069,
 379: 64,
 380: 321,
 381: 1802,
 382: 97,
 383: 208,
 384: 27,
 385: 320,
 386: 194,
 387: 1032,
 388: 503,
 389: 247,
 390: 312,
 391: 198,
 392: 110,
 393: 2025,
 394: 375,
 395: 505,
 396: 84,
 397: 38,
 398: 36,
 399: 520,
 400: 87,
 401: 136,
 402: 309,
 403: 308,
 404: 258,
 405: 526,
 406: 981,
 407: 60,
 408: 165,
 409: 191,
 410: 627,
 411: 122,
 412: 1520,
 413: 936,
 414: 256,
 415: 859,
 416: 575,
 417: 545,
 418: 1029,
 419: 417,
 420: 15,
 421: 555,
 422: 287,
 423: 15,
 424: 76,
 425: 255,
 426: 424,
 427: 140,
 428: 341,
 429: 45,
 430: 500,
 431: 78,
 432: 1707,
 433: 116,
 434: 184,
 435: 1380,
 436: 119,
 437: 35,
 438: 204,
 439: 440,
 440: 607,
 441: 79,
 442: 1552,
 443: 86,
 444: 203,
 445: 35,
 446: 68,
 447: 29,
 448: 226,
 449: 1977,
 450: 430,
 451: 906,
 452: 1536,
 453: 571,
 454: 130,
 455: 338,
 456: 503,
 457: 310,
 458: 2987,
 459: 155,
 460: 119,
 461: 22,
 462: 91,
 463: 760,
 464: 93,
 465: 4019,
 466: 102,
 467: 139,
 468: 398,
 469: 174,
 470: 201,
 471: 1177,
 472: 382,
 473: 1736,
 474: 537,
 475: 711,
 476: 163,
 477: 870,
 478: 91,
 479: 338,
 480: 49,
 481: 317,
 482: 1678,
 483: 53,
 484: 2412,
 485: 338,
 486: 16,
 487: 74,
 488: 172,
 489: 322,
 490: 17,
 491: 84,
 492: 523,
 493: 326,
 494: 379,
 495: 523,
 496: 31,
 497: 1607,
 498: 313,
 499: 22,
 500: 60,
 501: 36,
 502: 144,
 503: 26,
 504: 155,
 505: 151,
 506: 54,
 507: 2217,
 508: 365,
 509: 578,
 510: 690,
 511: 438,
 512: 128,
 513: 190,
 514: 71,
 515: 173,
 516: 438,
 517: 177,
 518: 2218,
 519: 886,
 520: 60,
 521: 599,
 522: 629,
 523: 50,
 524: 482,
 525: 479,
 526: 54,
 527: 431,
 528: 232,
 529: 1312,
 530: 423,
 531: 395,
 532: 177,
 533: 118,
 534: 270,
 535: 52,
 536: 203,
 537: 423,
 538: 542,
 539: 809,
 540: 108,
 541: 1955,
 542: 1837,
 543: 366,
 544: 46,
 545: 52,
 546: 1498,
 547: 811,
 548: 179,
 549: 396,
 550: 2970,
 551: 51,
 552: 966,
 553: 511,
 554: 180,
 555: 814,
 556: 1092,
 557: 204,
 558: 171,
 559: 110,
 560: 26,
 561: 1006,
 562: 2740,
 563: 428,
 564: 222,
 565: 110,
 566: 42,
 567: 517,
 568: 111,
 569: 321,
 570: 2085,
 571: 393,
 572: 54,
 573: 459,
 574: 544,
 575: 1491,
 576: 731,
 577: 1013,
 578: 259,
 579: 707,
 580: 650,
 581: 1078,
 582: 519,
 583: 456,
 584: 270,
 585: 1070,
 586: 64,
 587: 116,
 588: 2705,
 589: 36,
 590: 431,
 591: 477,
 592: 417,
 593: 30,
 594: 398,
 595: 28,
 596: 669,
 597: 731,
 598: 24,
 599: 102,
 600: 28,
 601: 509,
 602: 2209,
 603: 75,
 604: 51,
 605: 122,
 606: 971,
 607: 17,
 608: 269,
 609: 58,
 610: 335,
 611: 236,
 612: 317,
 613: 235,
 614: 21,
 615: 850,
 616: 402,
 617: 144,
 618: 424,
 619: 99,
 620: 21,
 621: 2774,
 622: 603,
 623: 417,
 624: 979,
 625: 783,
 626: 588,
 627: 1344,
 628: 325,
 629: 469,
 630: 42,
 631: 1369,
 632: 1006,
 633: 384,
 634: 598,
 635: 201,
 636: 467,
 637: 74,
 638: 165,
 639: 282,
 640: 320,
 641: 381,
 642: 188,
 643: 362,
 644: 305,
 645: 1059,
 646: 356,
 647: 104,
 648: 982,
 649: 72,
 650: 22,
 651: 142,
 652: 513,
 653: 259,
 654: 883,
 655: 339,
 656: 811,
 657: 487,
 658: 18,
 659: 44,
 660: 107,
 661: 851,
 662: 159,
 663: 275,
 664: 227,
 665: 1010,
 666: 264,
 667: 414,
 668: 208,
 669: 443,
 670: 192,
 671: 19,
 672: 74,
 673: 98,
 674: 133,
 675: 2117,
 676: 84,
 677: 1040,
 678: 466,
 679: 49,
 680: 1915,
 681: 310,
 682: 53,
 683: 746,
 684: 230,
 685: 58,
 686: 126,
 687: 63,
 688: 405,
 689: 644,
 690: 214,
 691: 25,
 692: 47,
 693: 16,
 694: 76,
 695: 572,
 696: 134,
 697: 395,
 698: 566,
 699: 46,
 700: 81,
 701: 3450,
 702: 137,
 703: 3624,
 704: 25,
 705: 804,
 706: 43,
 707: 34,
 708: 41,
 709: 808,
 710: 56,
 711: 43,
 712: 20,
 713: 186,
 714: 69,
 715: 366,
 716: 56,
 717: 90,
 718: 17,
 719: 138,
 720: 2089,
 721: 901,
 722: 237,
 723: 182,
 724: 59,
 725: 120,
 726: 258,
 727: 144,
 728: 298,
 729: 341,
 730: 48,
 731: 588,
 732: 288,
 733: 104,
 734: 179,
 735: 82,
 736: 624,
 737: 230,
 738: 253,
 739: 235,
 740: 73,
 741: 36,
 742: 611,
 743: 362,
 744: 688,
 745: 190,
 746: 122,
 747: 145,
 748: 438,
 749: 117,
 750: 441,
 751: 451,
 752: 644,
 753: 308,
 754: 505,
 755: 191,
 756: 314,
 757: 669,
 758: 20,
 759: 946,
 760: 67,
 761: 1700,
 762: 397,
 763: 223,
 764: 80,
 765: 66,
 766: 286,
 767: 1672,
 768: 22,
 769: 325,
 770: 533,
 771: 53,
 772: 1759,
 773: 252,
 774: 1964,
 775: 621,
 776: 555,
 777: 85,
 778: 22,
 779: 92,
 780: 301,
 781: 235,
 782: 44,
 783: 283,
 784: 248,
 785: 2546,
 786: 280,
 787: 155,
 788: 280,
 789: 31,
 790: 82,
 791: 348,
 792: 229,
 793: 39,
 794: 1003,
 795: 84,
 796: 173,
 797: 291,
 798: 36,
 799: 408,
 800: 130,
 801: 836,
 802: 171,
 803: 284,
 804: 197,
 805: 506,
 806: 233,
 807: 34,
 808: 19,
 809: 746,
 810: 688,
 811: 219,
 812: 542,
 813: 154,
 814: 234,
 815: 611,
 816: 331,
 817: 41,
 818: 15,
 819: 1580,
 820: 254,
 821: 42,
 822: 801,
 823: 204,
 824: 457,
 825: 22,
 826: 286,
 827: 1705,
 828: 132,
 829: 126,
 830: 598,
 831: 374,
 832: 41,
 833: 586,
 834: 204,
 835: 361,
 836: 459,
 837: 191,
 838: 268,
 839: 1191,
 840: 115,
 841: 705,
 842: 58,
 843: 113,
 844: 59,
 845: 185,
 846: 45,
 847: 1217,
 848: 394,
 849: 511,
 850: 1028,
 851: 139,
 852: 983,
 853: 288,
 854: 944,
 855: 85,
 856: 620,
 857: 1139,
 858: 722,
 859: 1021,
 860: 21,
 861: 30,
 862: 412,
 863: 87,
 864: 1178,
 865: 747,
 866: 172,
 867: 77,
 868: 22,
 869: 349,
 870: 87,
 871: 1387,
 872: 181,
 873: 135,
 874: 818,
 875: 1169,
 876: 117,
 877: 106,
 878: 159,
 879: 30,
 880: 675,
 881: 133,
 882: 24,
 883: 547,
 884: 1025,
 885: 46,
 886: 81,
 887: 443,
 888: 470,
 889: 318,
 890: 251,
 891: 558,
 892: 549,
 893: 238,
 894: 17,
 895: 918,
 896: 304,
 897: 469,
 898: 825,
 899: 60,
 900: 749,
 901: 941,
 902: 418,
 903: 370,
 904: 219,
 905: 860,
 906: 24,
 907: 701,
 908: 322,
 909: 159,
 910: 324,
 911: 468,
 912: 315,
 913: 108,
 914: 52,
 915: 41,
 916: 174,
 917: 207,
 918: 69,
 919: 115,
 920: 219,
 921: 60,
 922: 31,
 923: 395,
 924: 771,
 925: 134,
 926: 33,
 927: 718,
 928: 129,
 929: 36,
 930: 218,
 931: 204,
 932: 57,
 933: 363,
 934: 38,
 935: 521,
 936: 62,
 937: 301,
 938: 34,
 939: 25,
 940: 412,
 941: 505,
 942: 111,
 943: 33,
 944: 71,
 945: 586,
 946: 589,
 947: 245,
 948: 371,
 949: 68,
 950: 701,
 951: 570,
 952: 411,
 953: 748,
 954: 77,
 955: 95,
 956: 555,
 957: 252,
 958: 43,
 959: 447,
 960: 414,
 961: 49,
 962: 64,
 963: 64,
 964: 762,
 965: 121,
 966: 934,
 967: 618,
 968: 216,
 969: 134,
 970: 123,
 971: 306,
 972: 339,
 973: 121,
 974: 259,
 975: 577,
 976: 158,
 977: 157,
 978: 490,
 979: 201,
 980: 162,
 981: 136,
 982: 190,
 983: 41,
 984: 164,
 985: 161,
 986: 123,
 987: 264,
 988: 160,
 989: 230,
 990: 15,
 991: 16,
 992: 156,
 993: 23,
 994: 77,
 995: 171,
 996: 155,
 997: 481,
 998: 524,
 ...}

### Identifying core points

In [ ]:
#identifying core samples 

core_samples = np.zeros_like(dblabels, dtype=bool)

core_samples[dbscan.core_sample_indices_]= True 
print(core_samples)

### Calculate number of clusters

In [ ]:
n_clusters = len(set(dblabels)) - (1 if -1 in labels else 0)

In [ ]:
n_clusters